<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false"
      autoReload="true">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Web.AspNetCore.Targets.Gelf"/>
	</extensions>
	<targets>
		<target name="console" xsi:type="Console" />
		<target name="filelog" xsi:type="File" fileName="${basedir}/log.txt" layout="${date:format=s} ${message}"/>
	</targets>
	<rules>
		<!-- minlevel can be (from high to low): Fatal, Error, Warn, Info, Debug, Trace -->
		<!--<logger name="*" minlevel="Trace" writeTo="console" />-->
		<logger name="*" minlevel="Info" writeTo="filelog" />
		<logger name="*" minlevel="Error" writeTo="gelf" />
	</rules>
</nlog>