<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ConnectionStrings__Insurance" value="data source=PCM-FF4R7D3\SQL2016;initial catalog=InsuranceDB;Trusted_Connection=True" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="Secret" value="d06ddbf2ef1a12432c3fe5f7544e5d5f" />
        <environmentVariable name="Issuer" value="GeekHub" />
        <environmentVariable name="Audience" value="GeekHub Community" />
        <environmentVariable name="Timeout" value="30" />
        <environmentVariable name="ResetTimeout" value="30" />
        <environmentVariable name="PasswordExpiration" value="30" />
        <environmentVariable name="Salt" value="01f7ab0d-d25e-451b-ab55-20def4c3a73c" />
        <environmentVariable name="ClientURL" value="www.insuranceexam.com" />
        <environmentVariable name="SMTP" value="smtp.gmail.com" />
        <environmentVariable name="Email" value="geekhub52@gmail.com" />
        <environmentVariable name="Password" value="Oakley@123$%^" />
        <environmentVariable name="Port" value="587" />
        <environmentVariable name="UseSSL" value="true" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44321" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>